h1{
    font-family:fantasy;
    color: rgb(94, 57, 114);
    text-align: center;
    justify-content: center;

}


ul[class="menu"]{
    font-family: fantasy;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(188, 170, 147, 0.319);
    border-radius: 30px;
}
li{
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 10px;
    color: rgb(55, 116, 96);
}
a:visited{
    color: rgb(199, 169, 244);

}
a:hover{
    font-style: italic;
    color:rgb(206, 121, 172)
}
body{
    font-family: fantasy;
    background-color: beige;
    
}

p{
    color: rgb(73, 62, 48);
    text-align: center;
    width: auto;
    
    padding-right: 20px;
    padding-left: 20px;
}
div[class="columns"]{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 50px;
    
}
div[class="column"]{
    display: flex;
    flex-direction: row;
    color:rgb(66, 64, 57);
    text-align: center;
    background-color: rgb(179, 152, 206);
    border-radius: 20px; 
    
}
div[class="links"]{
    background-color: rgba(4, 4, 69, 0.668);
    border-radius: 20px;
    
    align-items: right;
    text-align: right;
    padding-right: 40px;
    justify-content: end;
    word-spacing: 10px;
    
}


table-wrapper{
    display: flex;
    justify-content: center; /* Centers the table */
    align-items: center; /* Aligns content vertically */
    
    flex-direction: column;
}
caption{
    padding-bottom: 30px;
    text-align: center;
     
}
table{
    
    border-collapse: collapse;
    text-align: center;
    color: rgb(68, 60, 48);

    display: flex;
    justify-content: center; /* Centers the table */
    align-items: center; /* Aligns content vertically */
     
    flex-direction: column;
    
}
th{
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    background-color: black;
    color: white;  /* White text on a black background */
    padding: 10px;


}
td{
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid black; 
    
}

dev[class="documents"]{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
a{
    color: blueviolet;
}
a:visited{
    color: aqua;
}

img{
    display: flex;
    flex-direction: row;
    flex-direction: unset;
    height: 500px;
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 5px solid black;
    align-items: center;
}

div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
div[class="form-group"]{
    color: rgb(74, 65, 41);
    
}
input[type="text"]{
    background-color: rgb(188, 245, 226);
    border: none;
    border-radius: 20px;
}
label{
    margin-right: 10px;
}
div[class="form-action"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button[type="submit"]{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    background-color: rgb(115, 205, 115);
    width: 100px;
    height: 25px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    border:none;
    border-radius: 20px;
}

button[type="submit"]:hover{
    background-color: rgb(55, 128, 55);
}
button[type="cancel"]{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    background-color: rgb(209, 86, 189);
    width: 100px;
    height: 25px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    border:none;
    border-radius: 20px;
}
button[type="cancel"]:hover{
    background-color: rgb(124, 19, 126);
}

li{
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 10px;
    color: rgb(55, 116, 96);
}

ol{
    font-weight: bold;
    padding-bottom: 50px;
}
a{
    display: flex;
    padding-bottom: 30px;
}

